body {
	background-color: #f8f8f8;
	background-image: linear-gradient(to bottom right, #fff 50%, #e2e2e2 100%), url("pattern.png");
}

.container {
	margin: 50px auto;
	padding: 20px;
	max-width: 500px;
	background-color: rgba(255, 255, 255, 0.3);
	backdrop-filter: blur(10px);
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
	text-align: center;
	color: #444;
	font-size: 48px;
	font-weight: 700;
	font-family: 'Montserrat', sans-serif;
	text-shadow: 1px 1px 0 #fff;
}

p {
	color: #777;
	font-size: 24px;
	line-height: 1.5;
	text-align: center;
	margin-top: 30px;
	font-family: 'Montserrat', sans-serif;
	text-shadow: 1px 1px 0 #fff;
}

.linkedin-button {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.3);
	backdrop-filter: blur(10px);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	padding: 10px 20px;
}

.linkedin-button a {
	color: #444;
	font-size: 24px;
	font-weight: 700;
	display: flex;
	align-items: center;
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
	text-shadow: 1px 1px 0 #fff;
}

.linkedin-button a i {
	font-size: 36px;
	margin-right: 10px;
	background-color: rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(5px);
	border-radius: 50%;
	padding: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 600px) {
	h1 {
		font-size: 36px;
	}
	p {
	font-size: 20px;
	}
}
